@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand), sans-serif;
}

.custom-pagination .swiper-pagination-bullet {
  background: transparent;
  /* gray-300 */
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 9999px;
  transition: all 0.3s ease;
  border: 1px solid #253D4E;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #3BB77E;
  width: 24px;
  border: 0;
}